

.about-image {
  margin-top:5%;
  width: 80vw;
}

.tHeaders {
  width: 30vw;
  margin-bottom: 15%;
  margin-top:5%;
}

.tech-icons {
  /* background-image: var(--section-background-color) !important; */
  background-color: rgb(223, 217, 217);
  color: rgba(75, 72, 72, 0.931) ;
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  border: 2.7px solid rgba(211, 212, 210, 0.733) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #885607, 2px 2px rgb(32, 53, 172);
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  background-color: rgb(35, 61, 94);
  border: 3.2px solid rgba(255, 255, 255, 0.883) !important;
  color: white;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
