@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0 auto;
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(
    to bottom,
    rgb(182, 187, 197),
    rgb(154, 155, 165),
    rgb(130, 148, 190),
    rgb(163, 165, 170)

  ); */
  background-image: linear-gradient(
    to bottom,
    rgb(233, 233, 210),
    rgb(221, 218, 212),
    rgb(204, 202, 170),
    rgb(233, 226, 198)

  );
}
