
.project-container {
  position: relative;
  z-index: -1;
  max-width: auto;
}

.card {
  margin-bottom: 10%;
  border: black;
  box-shadow: 30px 30px 30px rgb(99, 115, 136), 15px 10px 15px 10px #7f829b;
}

.card-img-top {
  height: 250px;
  filter: grayscale(80%);
  opacity: 0.9;
  box-shadow: 12px 29px 81px 0px rgba(118, 174, 211, 0.75),
    5px 5px 5px 5px rgb(102, 112, 197);
  border: 2px rgb(117, 114, 114) solid;
}


.card-body {
  background-color: #fbfbfbd9;
}

.card-text,
.card-title {
  font-family: Arial, Helvetica, sans-serif;
}

.card-title {
  text-shadow: 2px 2px rgb(170, 174, 182);
  padding: 1%;
}
.card-text {
  color: rgb(85, 84, 90);
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
}

.sub-text {
  font-size: 20px;
}

/* @media (max-width: 1230px) {
    img {
      width: 60vw;
    }
  } */
a.btn.btn-secondary {
  background-color: rgba(110, 107, 107, 0.75);
  border: thin rgb(117, 114, 114) solid;
  margin-right: 2%;
  width: 170px;
  box-shadow: 0 0 5px black;
}

a.btn.btn-secondary:hover {
  box-shadow: 0 0 15px #032f70;
}

a.btn.btn-secondary:visited {
  color: rgba(28, 70, 104, 0.75);
}
